:root {
  --secondarycolor: #fff;
  --txtcolor2: #a8611f;
  --btn-main: #0a1943;
  --btnshadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
}

.cartside {
  padding-left: 2rem;
  font-weight: 800;
}

.cartBtn {
  height: 40px;
  width: 300px;
  margin-left: 300px;
  margin-bottom: 40px;
  display: block;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  background: var(--btn-main);
  color: var(--secondarycolor);
  border: 0;
  border-radius: 15px;
  box-shadow: var(--btnshadow);
  overflow: hidden;
}

.cartBtn:hover {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: green;
}

@media (max-width: 899px) {
  .cartBtn {
    width: 400px;
    height: 50px;
    font-size: 1.3rem;
  }
}
