.productCard {
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 2px 7px #dfdfdf;
  width: 380px;
  position: relative;
  margin: 50px auto;
  padding: 1rem;
}

.productCard img {
  max-height: 350px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  padding-bottom: 15px;
}

.product-category {
  display: block;
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #a3a2a2;
}

.product-details h4 {
  font-weight: 600;
  display: block;
  margin: 1.5rem 0;
  color: #0d0d0d;
}

.product-details a {
  text-decoration: none;
}

.product-details h4:hover {
  color: #a8611f;
  text-decoration: underline;
}

.product-details p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #0d0d0d;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.product-price {
  font-size: 1.5rem;
  color: #a8611f;
  font-weight: 600;
}

.filteredProducts {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-auto-rows: auto;
  grid-gap: 3rem;
}

#buyBtn {
  position: relative;
  margin-top: 20px;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

#artisanbtn {
  position: relative;
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.btn-primary:hover {
  transform: scale(1.1);
}

@media (max-width: 899px) {
  .filteredProducts {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    grid-auto-rows: auto;
    grid-gap: 3rem;
  }
}
.btn-secondary {
  position: relative;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}
.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  position: relative;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.btn-primary {
  position: relative;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  position: relative;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem (#333);
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #333;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem #333;
}

/*******tuotteet-sivut********/
#products {
  margin-top: 3rem;
}

@media (max-width: 899px) {
  .productCard {
    max-height: 450px;
    width: 400px;
    margin-left: 170px;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .productCard img {
    max-height: 200px;
    padding-bottom: 10px;
  }

  .filteredProducts {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    grid-auto-rows: auto;
    grid-gap: 3rem;
  }
}

@media (max-width: 576px) {
  .productCard {
    max-height: 400px;
    width: 250px;
    margin: 20px 35px;
    padding: 1rem;
    font-size: 1rem;
  }

  .productCard img {
    max-height: 200px;
    padding-bottom: 10px;
  }

  .filteredProducts {
    display: grid;
    grid-template-columns: repeat(1, 250px);
  }

  .popup img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .mainImage img {
    display: block;
  }
}
