:root {
  --txtcolor: #0d0d0d;
  --font: "EB Garamond", serif;
  --bgcolor: #f8f9fa;
}

footer {
  margin: 0 auto;
  text-align: center;
  color: var(--txtcolor);
  height: 100px;
  font-family: var(--font);
  font-weight: 800;
  background-color: var(--bgcolor);
  padding-top: 10px;
}
