:root {
  --txtcolor2: #a8611f;
  --secondarycolor: #fff;
  --font: "EB Garamond", serif;
  --btn-main: #0a1943;
  --btnshadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
}

.singleProduct {
  padding: 30px 70px;
}

.singleProduct a {
  color: var(--txtcolor2);
  font-weight: normal;
}

.singleProduct img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.singleProduct button {
  width: 25%;
  margin: 2rem;
  float: left;
  border: none;
}

.mainImage {
  margin: 20px;
}

#buyBtn,
#backBtn {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  display: block;
  position: relative;
  font-family: var(--font);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: var(--btn-main);
  color: var(--secondarycolor);
  border: 0;
  border-radius: 15px;
  box-shadow: var(--btnshadow);
  overflow: hidden;
}

#buyBtn:hover,
#backBtn:hover {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--txtcolor2);
}

#btnlink {
  color: var(--secondarycolor);
}

#btnlink:hover {
  color: var(--txtcolor2);
}

.adminbtn:hover {
  transform: scale(1.1);
}

.popup img {
  max-width: 80%;
  margin: 30px 100px;
}

.popupBtn {
  height: 40px;
  width: 100px;
  margin-top: 20px;
  display: block;
  position: relative;
  font-family: var(--font);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: var(--btn-main);
  color: var(--secondarycolor);
  border: 0;
  border-radius: 15px;
  box-shadow: var(--btnshadow);
  overflow: hidden;
}

.buttonsRow {
  min-width: 780px;
  display: inline-block;
}
/******login page margin*****/
.signIn {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.modify {
  text-decoration: none;
}
a.modify {
  font-weight: 400;
  color: #000;
}

@media (max-width: 899px) {
  .singleProduct {
    width: 900px;
    padding: 0px;
  }

  .singleProduct img {
    max-height: 900px;
    max-width: 1000px;
  }

  .singleProduct h1 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }

  .singleProduct p {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }

  .popup img {
    max-height: 500px;
    max-width: 400px;
  }
}
