@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.bold {
  font-size: x-large;
}

main {
  padding-top: 10px;
  min-height: calc(100vh - 140px);
  background-color: #fffffb;
  font-family: "EB Garamond", serif;
  font-weight: 600;
}

.herobanner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcometxt {
  text-align: center;
  margin: 40px 60px 0 60px;
  font-size: 1.2rem;
}

.form {
  padding: 20px;
  margin: 0 auto;
  width: 800px;
}

.form label {
  padding-top: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}

.makers {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  min-height: 250px;
  margin: 2rem 0 0 3rem;
}

.makersCard {
  border: 2px solid #583a22;
  box-shadow: 2px 2px 5px #583a22;
  border-radius: 10px;
  color: #0d0d0d;
  width: 500px;
  margin: 25px;
}

.makersCard a {
  color: #a8611f;
  text-decoration: none;
  font-weight: 900;
  display: block;
}

.makersCard a:hover {
  font-weight: 700;
  text-decoration: underline;
  color: #8d521a;
}
.productSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
}

.addbtn {
  position: relative;
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  display: block;
  border-radius: 15px;
  background: #0a1943;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.addbtn a {
  color: white;
  text-decoration: none;
}

.addbtn a:hover {
  color: white;
}
/***navigation***/
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #583a22;
}
.icon {
  font-size: 2rem;
  display: block;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
.icon:hover {
  font-weight: 600;
  transform: scale(1.5);
}

.fat-icon {
  font-size: 2rem;
  transition: ease-in-out 0.2s;
  font-weight: bold;
  color: red;
  animation-name: addFirst;
  animation-duration: 1s;
}
.fat-icon:hover {
  font-weight: 900;
  transform: scale(1.5);
}
@keyframes addFirst {
  50% {
    font-size: 5rem;
  }
}

/*******login page****/
.hidden {
  visibility: hidden;
}
.reveal {
  visibility: visible;
}

/******Succesful and failed payment*********/
.afterPayment {
  text-align: center;
  margin-top: 10%;
}

/*********Tablet @media*********/
@media (max-width: 899px) {
  main {
    padding-top: 50px;
    min-height: calc(100vh - 190px);
    padding-top: 20px;
    max-width: 900px;
  }
  .herobanner img {
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcometxt {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    padding-top: 100px;
  }

  .makers {
    display: grid;
    grid-template-columns: repeat(1, 30rem);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    margin-left: 10rem;
  }

  .makersCard {
    margin-left: 0 auto;
  }

  .form {
    width: 500px;
  }
}

/********Mobile @media******/

@media (max-width: 576px) {
  .herobanner {
    margin-top: 50px;
    height: 100px;
  }

  .herobanner img {
    max-width: 500px;
  }

  .welcometxt {
    max-width: 300px;
  }

  .form {
    width: 300px;
  }

  .makers {
    display: grid;
    grid-template-columns: repeat(1, 10rem);
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    margin-left: 5px;
  }

  .makersCard {
    width: 250px;
  }

  .addbtn {
    position: relative;
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
    display: block;
    border-radius: 15px;
    background: #0a1943;
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: "EB Garamond", serif;
  }
}
