body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginForm {
  margin: 200px;
  width: 40%;
}
.login-element {
  background-color: #f2d1b36c;
  margin: 5px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.login-element input {
  padding: 2px;
  border-radius: 0px;
}
